:root{
  --font-color: rgb(208, 196, 238);
  --bg-color: linear-gradient(to right, rgb(39, 39, 39), #ccc);
}

body {
  color: var(--font-color);
  background: var(--bg-color);
}

@media(prefers-color-scheme: light){
  :root{
    --font-color: #333;
    --bg-color: linear-gradient(to right, rgb(208, 196, 238) ,#eee);
  }
}
